<table class="col-md-12 table-striped match">
    <thead>
        <tr>
            <th class='col-md-6'>

                <div class="panel-body text-center">
                    <h6>Select Updates</h6>
                </div>


            </th>

            <th class='col-md-6'>
                <div class="panel-body text-center">
                    <h6 ng-if="current_queue.length > 0">Match #1 out of {{current_queue.length+1}}
                    </h6>
                    <h6 ng-if="current_queue.length === 0">Current Record</h6>

                </div>

            </th>
        </tr>
    </thead>

<% for (var i = 0; i < meta.length; i++) { 
    var el = meta[i];
    // display properties of this

    if(el.type!=="subarray") {
%>
    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('<%= el.name %>', null, match_diff.<%= el.name %>)" ng-class="{selected: selectedItems.<%= el.name %>, disabled: match_diff.<%= el.name %>}" ng-show="new_entry.<%= el.name %>">

                <span ng-hide='match_diff.<%= el.name %> || selectedItems.<%= el.name %>' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
<!-- encounters
                <span ng-hide='match_diff.findings || selectedItems.findings' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
-->


                <span ng-hide='match_diff.<%= el.name %> || selectedItems.<%= el.name %>'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div <%= el.entry %>-entry input-value="new_entry.<%= el.name %>" input-title="<%= el.title %>" select-field="selectedItems.<%= el.name %>"></div>
            </div>
             <div ng-hide="new_entry.<%= el.name %>" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('<%= el.name %>', null, match_diff.<%= el.name %>)" ng-class="{selected: selectedItems.<%= el.name %>, disabled: match_diff.<%= el.name %>}" ng-show="update_entry.<%= el.name %>">

                <span ng-show='selectedItems.<%= el.name %>' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.<%= el.name %> || selectedItems.<%= el.name %>'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div <%= el.entry %>-entry input-value="update_entry.<%= el.name %>" input-title="<%= el.title %>" select-field="selectedItems.<%= el.name %>"></div>

<!-- encounters and results
                <div style="position:absolute;right:10px;top:10px;"><span class="glyphicon glyphicon-remove-circle"></span></div> 
-->                

            </div>
             <div ng-hide="update_entry.<%= el.name %>" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>



<% }
//processing subarray of elements in merge (such as allergic reactions, encounter findings, etc)
else {
%>
    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" valign="top">
            <div class="list-group-item merge-item" ng-repeat="(el_id, el_entry) in new_entry.<%= el.dot_name %>" ng-click="selectField('<%= el.dot_name %>', el_id, match_diff.<%= el.dot_name %>.src[el_id])" ng-class="{selected: selectedItems.<%= el.dot_name %>[el_id], disabled: match_diff.<%= el.dot_name %>.src[el_id]}">

                <span ng-hide='match_diff.<%= el.name %> || selectedItems.<%= el.name %>' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
                <span ng-hide='match_diff.<%= el.name %> || selectedItems.<%= el.name %>'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div <%= el.entry %>-entry input-value="el_entry" input-title="<%= el.title %>" input-additional="el_entry" select-field="selectedItems.<%= el.entry %>[el_id]"></div>
            </div>
             <div ng-hide="new_entry.<%= el.dot_name %>" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>

        <td class="match" valign="top">
            <div class="list-group-item  merge-item" ng-repeat="(el_id, el_entry) in update_entry.<%= el.dot_name %>" ng-click="removeField('<%= el.dot_name %>', el_id, match_diff.<%= el.dot_name %>.src[el_id])" ng-class="{selected: selectedItems.<%= el.dot_name %>[el_id], disabled: match_diff.<%= el.dot_name %>.dest[el_id]}">

                <span ng-show='selectedItems.<%= el.dot_name %>[el_id]' class='label label-success' style="position:absolute;right:30px;top:10px;">Updated</span>
                <span ng-show='selectedItems.<%= el.name %> || selectedItems.<%= el.name %>'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                <div <%= el.entry %>-entry input-value="el_entry" input-title="<%= el.title %>" input-additional="el_entry" select-field="selectedItems.<%= el.title %>[el_id]"></div>

                <div style="position:absolute;right:10px;top:10px;"><span class="glyphicon glyphicon-remove-circle"></span></div>                
            </div>
             <div ng-hide="update_entry.<%= el.dot_name %>" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>

<% }

} %>   


    <tr>
        <td class="match">
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <button type="button" class="btn btn-warning ng-scope" ng-click="createMatch()" ng-if="(section !== 'demographics')   && !(current_queue.length > 0) ">
                        <i class="glyphicon glyphicon-arrow-down"></i><i class="glyphicon glyphicon-arrow-down"></i> Create New
                    </button>

                    <button ng-if="current_queue.length > 0" type="button" class="btn btn-danger ng-scope" ng-click="rotateMatch(current_match_index + 1)"><i class="glyphicon glyphicon-remove-circle"></i> Not a match</button>

                </div>
            </div>
        </td>
        <td class="match">


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-12">
                    <button ng-show="changed" type="button" class="btn btn-primary btn-block" ng-click="saveMatch()"><i class="glyphicon glyphicon-save  fa-rotate-270"></i> Save Update</button>

                    <button ng-hide="changed" type="button" class="btn btn-primary btn-block" ng-click="discardMatch()"><i class="glyphicon glyphicon-ban-circle"></i> Ignore Update</button>

                </div>
            </div>
        </td>
    </tr>
    <!--pre>{{ selectedItems|json}}</pre>
    <pre>{{ changed }}</pre-->
</table>
